<button mat-button color="warn" mat-dialog-close style="float: right;"><mat-icon>close</mat-icon></button>
<h2 mat-dialog-title>Ordenes mesa: {{mesaID}} </h2>
<form *ngIf="sesion.mozoID && sesion.estado == 'abierta'" [formGroup]="form">
    <mat-form-field appearance="fill">
        <mat-label>Mozo</mat-label>
          <mat-select formControlName="mozoID" #mozoCtrl (selectionChange)="cambiarMozo()">
            <mat-option *ngFor="let mozo of mozos" [value]="mozo.mozoID">
              {{mozo.nombre}}
            </mat-option>
          </mat-select>
    </mat-form-field>
</form>
<div class="contenedor-principal">
    <div *ngIf="sesion.cerradaFecha">
        <br >
        <div style="font-size: 1.5em; font-weight: 500;">{{sesion.cerradaFecha | date : 'dd/MM/yyyy, HH:mm'}}</div>
        <br>
        <div style="font-size: 1.2em; font-weight: 400;">Mozo: {{ mozoNombre }}</div>
    </div>
    <br>  
    <mat-dialog-content style="display: flex; flex-direction: column; align-items: center;">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" --> 
    
            <!-- NumOrden Column -->
            <ng-container class="container" matColumnDef="numOrden">
                <th mat-header-cell *matHeaderCellDef> # Orden </th>                
                <td mat-cell *matCellDef="let element">{{element.numOrden}}</td>                
            </ng-container>
    
            <!-- Estado Column -->
            <ng-container class="container" matColumnDef="estado">
                <th mat-header-cell *matHeaderCellDef> Estado </th>
                <td mat-cell *matCellDef="let element"> <div class="estado" [ngClass]="element.estado"> {{element.estado}} </div></td>
            </ng-container>
                
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr class="fila" mat-row *matRowDef="let element; columns: displayedColumns;" (click)="irDetallesOrden(element.ordenID)"></tr>
        </table>
        <br>
        <br>
        <button mat-raised-button color="warn" (click)="verConsumos()" style="float: left;"> Ver Consumos </button>
    </mat-dialog-content>
</div>