<button mat-button color="warn" mat-dialog-close style="float: right;"><mat-icon>close</mat-icon></button>  
<h2 mat-dialog-title>Editar Categoria</h2>
<mat-dialog-content class="mat-typography">
  <div class="contenedor">
    <form [formGroup]="form" style="display: flex; flex-direction: column;" (ngSubmit)="editarCategoria()">
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Nombre</mat-label>
            <input type="input" matInput formControlName="nombre" placeholder="Nombre" required autofocus>
        </mat-form-field>        
        <mat-checkbox type="checkbox" class="example-margin" formControlName="comentario">Habilitar Comentarios</mat-checkbox>
        <mat-checkbox type="checkbox" class="example-margin" formControlName="mitad">Habilitar Medio Pedido</mat-checkbox>
        <br>
        <button mat-raised-button color="primary" type="submit">Cambiar</button>          
    </form>
    <br>
    <br>
    <mat-card style="background-color: #0d48a111;">
      <mat-card-title style="color:#0d47a1; text-align: center;"> Happy Hour </mat-card-title>
      <br>
      <mat-card-content>
        <div *ngIf="desactivarHappy" class="aviso-happy">          
          <div class="aviso-happy">EL happy Hour solo se puede configurar en categorias donde TODOS los proudctos tengan el MISMO PRECIO </div>
          <br>
        </div>
        <form [formGroup]="formHappy" style="display: flex; flex-direction: column;" (ngSubmit)="editarHappy()">
          <mat-checkbox type="checkbox" class="example-margin" formControlName="estado">Activar</mat-checkbox>
          <br>
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Inicio</mat-label>
              <mat-select formControlName="inicio">
                <mat-option *ngFor="let opcion of horas" [value]="opcion">
                  {{opcion}}
                </mat-option>              
              </mat-select>
          </mat-form-field>
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Fin</mat-label>
              <mat-select formControlName="fin">
                <mat-option *ngFor="let opcion of horas" [value]="opcion">
                  {{opcion}}
                </mat-option>
              </mat-select>
          </mat-form-field>        
          <mat-checkbox type="checkbox" class="example-margin" formControlName="lunes">Lunes</mat-checkbox>
          <mat-checkbox type="checkbox" class="example-margin" formControlName="martes">Martes</mat-checkbox>
          <mat-checkbox type="checkbox" class="example-margin" formControlName="miercoles">Miércoles</mat-checkbox>
          <mat-checkbox type="checkbox" class="example-margin" formControlName="jueves">Jueves</mat-checkbox>
          <mat-checkbox type="checkbox" class="example-margin" formControlName="viernes">Viernes</mat-checkbox>
          <mat-checkbox type="checkbox" class="example-margin" formControlName="sabado">Sábado</mat-checkbox>
          <mat-checkbox type="checkbox" class="example-margin" formControlName="domingo">Domingo</mat-checkbox>
          <br>
          <button mat-raised-button color="primary" type="submit" [disabled]="desactivarHappy">Actualizar Happy Hour</button>
          <br>
          <button mat-raised-button color="warn" type="button" [disabled]="desactivarHappy" (click)="eliminarHappy()">Eliminar Happy Hour</button> 
        </form>
      </mat-card-content>
    </mat-card>
    <mat-dialog-actions align="end">
      <button mat-button color="warn" mat-dialog-close>Cancelar</button>          
    </mat-dialog-actions>           
  </div>
</mat-dialog-content>

