.contenedor-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width:900px){
    .contenedor-tabla-agregar {
        width: 70%;
    }
}

.fila:hover {
    background-color: rgba(0, 0, 0, 0.048);
    cursor: pointer;
}