<header>
    <div *ngIf="mostrarHeaderImg" [ngStyle]="{'background-image':headerImg}" class="headerImg"></div>
    <div *ngIf="mostrarHeaderTxt" [ngStyle]="{'background-color':estilos.colorHeader.valor}" class="headerTxt" >
      <h1 [ngStyle]="{'color':estilos.colorHeaderTxt.valor}" class="Titulo"> {{estilos.headerTxt.valor}} </h1>
      <span [ngStyle]="{'color':estilos.colorHeaderTxt.valor}" *ngIf="mesaID != null">Mesa Nº {{mesaID}}</span>
    </div>
</header>

<div [ngStyle]="{'background-color':estilos.colorFondo.valor}" class="contenedorPrincipal">
    <div class="categoria" *ngFor="let categoria of categorias">
        <app-colapsador [mostrarBtnColapsar]="mostrarColapsador" [colorBtnColapsar]="estilos.colorColapsar.valor" [colorCategoriaTxt]="estilos.colorCategoriaTxt.valor" [colorCategoriaHeader]="estilos.colorCategoriaHeader.valor"  class="colapsador" [titulo]="categoria.nombre" (colapsador)="colapsar($event, categoria.categoriaID)"></app-colapsador>        
        <div *ngFor="let producto of productos">
            <div class="producto" *ngIf="producto.categoriaID == categoria.categoriaID">
                <div  class="contenedor-producto">
                    <div class="contenedorNombreDescripcion">
                        <div class="pedido-detalles">
                            <div *ngIf="verificarExistencia(producto.productoID)" class="pedido">Pedido!</div>                           
                        </div>
                        <div class="nombre">
                            <h3>{{ producto.nombre }}</h3>
                        </div>
                        <div class="descripcion">
                            <span *ngIf="producto.descripcion">({{producto.descripcion}})</span>
                        </div>                           
                    </div>
                    <div class="precio">
                    <div> $ {{ producto.precio }} </div>
                    </div>
                </div>
                <br>
                <div class="contenedor-pedir-cantidad">                    
                    <div class="contenedor-contador-quitar">
                        <app-contador class="contador" [mitad]="categoria.mitad" (cantidadProdcutos)="pasarCantidad($event, producto)"></app-contador>                        
                        <div *ngIf="categoria.mitad == 1" class="pedir-media">(Se puede pedir media)</div>
                    </div>
                    <div class="pedir-quitar">                        
                        <button mat-raised-button color="primary" (click)="agregar(producto, categoria.comentario)">AGREGAR</button>
                        <button mat-raised-button color="warn" (click)="quitar(producto.productoID, producto.nombre, categoria.comentario)">QUITAR</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>
  
  <div *ngIf="pedido.length > 0">
    <button (click)="verPedido()" class="floatpedido" target="_blank">
        <mat-icon style="transform: scale(1.6,1.6);">list_alt</mat-icon>
    </button>
  </div>
  <div *ngIf="pedido.length > 0" class="verpedido">
        Ver pedido
  </div>
  
<footer>
    &reg; Franco Bertolotti
</footer>
  