.contenedor-principal {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.contenedor-estilos {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.copyIcon {
    float: right;
    transform: scale(0.8);
    margin-left: 20px;    
}

.campoColor {
    display: flex;
    flex-direction: row;    
    align-items: baseline;
}

h3 {
    text-align: center;
    font-size: 1.5em;
    color: rgb(63,81,181);
    font-family: 'Comfortaa', cursive;
}

.btn-cargarImg {
    display: flex;    
    align-items: center;
}

.campoImagen {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

form {
    display: flex;
    flex-direction: column;
    width: 70%;
}

form .submitBtn {
    align-self: center;
}   

mat-form-field {
    width: 100%;
}

.contenedor-iframe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

iframe {
    width: 100vw;    
    height: 800px;
    padding: 50px;
}

@media (min-width: 600px) {    
    
    iframe {
        width: 600px;
    }
}

@media (min-width: 1050px) {

    .contenedor-principal {
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;        
    }

    .contenedor-estilos form{
        width: 70%;
    }

    .contenedor-iframe {
        width: 50%;
    }

    .contenedor-estilos {
        width: 50%;
    }

    h3 {
        font-size: 2.2em;
    }
}


