<br>
<br>
<div class="contenedor-principal">
    <h1 class="titulo">CIERRES</h1>
    <div class="contenedor-tabla">        
        <table mat-table [dataSource]="dataSource">
          <!-- Mesa Column-->
          <ng-container matColumnDef="mesa">
            <th mat-header-cell *matHeaderCellDef> Mesa </th>
            <td mat-cell *matCellDef="let element"> {{element.mesaID}} </td>
          </ng-container>
        
          <!-- Cerrada Column-->
          <ng-container matColumnDef="cerrada">
            <th mat-header-cell *matHeaderCellDef> Fecha Cierre </th>
            <td mat-cell *matCellDef="let element"> <button mat-button (click)="irDetallesSesion(element)"> {{element.cerradaFecha | date : 'dd/MM/yyyy, HH:mm'}} </button></td>
          </ng-container>

          <!-- Borrar Column -->
          <ng-container class="container" matColumnDef="borrar">
            <th mat-header-cell *matHeaderCellDef> Eliminar </th>
            <td mat-cell *matCellDef="let element">
             <button mat-button color="warn" (click)="eliminarSesion(element.sesionID)"><mat-icon>delete</mat-icon></button>
            </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>
        </table>
        
        <mat-paginator [pageSizeOptions]="[10, 20]"
                       showFirstLastButtons 
                       aria-label="Seleccione pagina de sesion">
        </mat-paginator>
    </div>
</div>
