<div class="header">
  <h2 mat-dialog-title style="text-align: center;margin-bottom: 0;">{{producto.nombre}}</h2>
  <div class="precio"> $ {{producto.precio}}</div>
</div>
<mat-dialog-content>
  <div class="contenedor">
      <br>
      <form *ngIf="categoria.comentario == 1" [formGroup]="form" style="display: flex; flex-direction: column; align-items: center;">
        <mat-form-field class="example-full-width" appearance="outline" style="min-width: 260px;">
          <mat-label>Comentarios</mat-label>
          <input type="input" matInput formControlName="comentario" placeholder="comentario" [autocomplete]="false">
        </mat-form-field>          
      </form>
      <app-contador class="contador" [mitad]="categoria.mitad" (cantidadProdcutos)="pasarCantidad($event)"></app-contador>
      <br>
      <button mat-raised-button color="primary" type="submit" (click)="agregar()" [mat-dialog-close]="true">Agregar</button>
    </div>
</mat-dialog-content>
  

