<mat-toolbar class="header" color="primary">
    <div>
        <button mat-button [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon></button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="/admin/inicio">Inicio</button>
            <button mat-menu-item routerLink="/admin/gestion-mesas">Mesas</button>
            <button mat-menu-item routerLink="/admin/lista-categorias">Lista de Categorias</button>
            <button mat-menu-item routerLink="/admin/estilos-carta">Estilos de la Carta</button>
            <button mat-menu-item routerLink="/admin/gestion-mozos">Gestion Mozos</button>
            <button mat-menu-item routerLink="/admin/gestion-cocineros">Gestion Cocineros</button>
        </mat-menu>
        <span class="encabezado">Gestion de Listas de Precios</span>
    </div>
    <div class="logout">
        <span class="usuario">{{usuario}}</span>
        <button class="flecha" mat-button [matMenuTriggerFor]="logout"><mat-icon>keyboard_arrow_down</mat-icon></button>
        <mat-menu  #logout="matMenu">
            <button (click)="closeSesion()" mat-menu-item>Cerrar sesion</button>            
        </mat-menu>
    </div>
</mat-toolbar>
