.contenedor-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

table {
    min-width: 280px;
}

th, td {
    text-align: center !important;
    vertical-align: middle !important;       
}

.total {
    font-size: 1.4em;
    font-weight: 500;
}

@media (max-width:900px){

    .container {
        width: 100vw;
    }
}