<button mat-button color="warn" mat-dialog-close style="float: right;"><mat-icon>close</mat-icon></button> 
<div class="header">
    <h2 mat-dialog-title>Detalles de  Importes</h2>
</div>
  <br>  
  <mat-dialog-content style="display: flex; flex-direction: column; align-items: center;">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

          <!-- Cantidad Column -->
          <ng-container class="container" matColumnDef="cantidad">
              <th mat-header-cell *matHeaderCellDef> Cant. </th>
              <td mat-cell *matCellDef="let element">
                <div *ngIf="element.cantidad >= 1">{{element.cantidad}}</div> 
                <div *ngIf="element.cantidad == 0.5">1/2</div> 
              </td>
          </ng-container>

          <!-- Producto Column -->
          <ng-container class="container" matColumnDef="producto">
            <th mat-header-cell *matHeaderCellDef> Prod. </th>
            <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
          </ng-container>
        
          <!-- Precio Column -->
          <ng-container class="container" matColumnDef="precio">
            <th mat-header-cell *matHeaderCellDef> $ </th>
            <td mat-cell *matCellDef="let element"> {{element.precio}} </td>
          </ng-container>

          <!-- Subtotal Column -->
          <ng-container class="container" matColumnDef="subtotal">
            <th mat-header-cell *matHeaderCellDef> Subt. </th>
            <td mat-cell *matCellDef="let element"> {{element.subtotal}} </td>
          </ng-container>         
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <br>
      <div style="text-align: center;" class="total">
          Total: $ {{total}}
      </div>
      <br>
      <button *ngIf="tokenMozo" mat-raised-button color="warn" style="margin-bottom: 30px;" (click)="cerrarMesa()" > Cerrar Mesa </button>
      <button *ngIf="!tokenMozo" mat-raised-button color="warn" style="margin-bottom: 30px;" (click)="imprimir()" > Imprimir </button>      
  </mat-dialog-content>
