/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', cursive; }

.contenedor-tabla-agregar {
    width: 100%;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.123);
}

table {
    width: 100%;    
}

.td, th, .mat-cell {    
    text-align: center !important;
    vertical-align: middle !important;
    padding-right: 5px !important;
    padding-left: 5px !important;              
}

.mat-sort-header-container {    
    display: flex;
    justify-content: center;
}

.buscador {
    width: 40%;    
}

h1 {
    font-size: 2.5em !important;
    font-weight: 500;
    color: rgb(63,81,181);   
    font-weight: 700;
    text-align: center;
}

@media (max-width:900px){
    .buscador {
        width: 70%;
    }
}
